body {
  font-family: Arial, sans-serif;
  max-width: 100%;
  margin: 0;
  padding: 20px;
  box-sizing: border-box;
}

h1 {
  text-align: center;
}

h2 {
  margin-top: 30px;
}

#stock {
  border: 1px solid #ddd;
  padding: 10px;
  margin-top: 10px;
}

#iceCreamList {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /* Colonnes adaptatives avec une largeur minimale de 250px */
  grid-gap: 20px; /* Espacement entre les colonnes */
  margin-top: 20px;
}

.column {
  border: 1px solid #ddd;
  padding: 10px;
}

.column h3 {
  margin-top: 0;
}

input[type="text"] {
  width: 100%;
  padding: 12px; /* Ajuster la taille de la barre de recherche */
  font-size: 16px;
  margin-top: 5px;
  box-sizing: border-box;
}

button {
  font-size: 16px;
  padding: 10px 15px; /* Ajuster la taille des boutons */
  cursor: pointer;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 3px;
  margin: 5px;
  transition: background-color 0.2s;
}

button:hover {
  background-color: #45a049;
}

button.active {
  background-color: #008CBA;
}

/* Styles pour les écrans de petite taille */
@media screen and (max-width: 600px) {
  h2 {
    font-size: 1.2rem;
  }

  #iceCreamList {
    grid-template-columns: repeat(1, 1fr); /* Une seule colonne pour les écrans étroits */
  }
}

/* Ajuster la taille des boutons et des étiquettes de saveur */
button {
  font-size: 16px;
  padding: 10px 15px; /* Augmenter la taille des boutons */
}

.column label {
  font-size: 18px; /* Augmenter la taille des étiquettes de saveur */
}

/* Ajuster la taille de la barre de recherche */
#search {
  padding: 12px; /* Augmenter la taille de la barre de recherche */
  font-size: 16px;
}

/* Limiter la largeur du tableau des glaces sur des écrans larges */
#iceCreamList {
  max-width: 1200px;
  margin: 0 auto; /* Centrer le tableau des glaces */
}

/* Styles pour les écrans de très petite taille */
@media screen and (max-width: 400px) {
  h2 {
    font-size: 1.1rem;
  }

  button {
    font-size: 14px;
    padding: 8px 12px; /* Ajuster la taille des boutons pour les petits écrans */
  }

  .column label {
    font-size: 16px; /* Ajuster la taille des étiquettes de saveur pour les petits écrans */
  }

  #search {
    padding: 10px; /* Ajuster la taille de la barre de recherche pour les petits écrans */
    font-size: 14px;
  }
}

/* Animation pour le message */
.message {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 10px;
  text-align: center;
  opacity: 0;
  transform: translateY(-100%);
  transition: opacity 0.5s, transform 0.5s;
}

.message.show {
  opacity: 1;
  transform: translateY(0);
}

/* Ajouter le style pour les boutons "+" et "-" */
.column td {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Animation pour le message en orange */
.message.orange {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: orange; /* Couleur orange pour le message */
  color: white;
  padding: 10px;
  text-align: center;
  opacity: 0;
  transform: translateY(-100%);
  transition: opacity 0.5s, transform 0.5s;
}

.message.show.orange {
  opacity: 1;
  transform: translateY(0);
}

/* Animation pour le message en rouge */
.message.red {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: red; /* Couleur rouge pour le message */
  color: white;
  padding: 10px;
  text-align: center;
  opacity: 0;
  transform: translateY(-100%);
  transition: opacity 0.5s, transform 0.5s;
}

.message.show.red {
  opacity: 1;
  transform: translateY(0);
}
